<%= render '/heading' %>

<h3>Hello <%= current_user.name %> </h3>

<h3> <%= link_to('Add', new_user_journal_entry_path) %> a journal entry </h3>

<h4>Thank you for your writing in your journal.</h4>
<h4>Writing in a journal is a good habit to have.</h4>

<!-- list each entry -->
<% @journal_entries.each do |entry| %>
<!-- parse the date to obtain the date and day of week -->
	<% unparsed_date = entry.created_at %>
	<% parsed_date = unparsed_date.strftime("%m - %d - %y - %A") %>

 <p>
 <% if current_user.id == entry.user_id %>
		<!-- Entry No. <%= entry.id %> -->
 		<a href="/users/<%= current_user.id %>/journal_entries/<%= entry.id %>/sample_phrases"><%= parsed_date %></a><br>
 		<!-- link_to "DATE", user_journal_entry_path(current_user, entry) -->
 		<!-- could i also use journal_entries.where("column = 'XXXX'")??? -->
	<% end %>
</p>

<% end %>

<p>
    <%= link_to('Logout_user'.titleize, logout_path) %>
</p>
