<%= render "/heading" %>

<h2>Your Journal Entry</h2>

<h3>
	The current date is <%= Date.today.month %>-<%= Date.today.day %>-<%= Date.today.year %>.
</h3>
<h4>
	<%= form_tag(user_journal_entries_path, method: "POST") do %>
	  <%= text_area_tag(:body, nil, size: "30x10", class: "entry") %>
	  <br>

	  <%= submit_tag("Moodify Your Journal Entry") %>
	<% end %>

	<br>
</h4>
