<%= render "/heading" %>

<h2>New Journal Entry</h2>

<h3>
	The current date is <%= Date.today.month %>-<%= Date.today.day %>-<%= Date.today.year %>.
<h4>Pull the lower right hand corner of the post window to expand it.

	flash[:error]

	<%= form_tag(user_journal_entries_path, method: "POST") do %>
		<br>
	  <%= label_tag("Journal entry".titleize) %><br>

	  <%= text_area_tag(:body) %>
	  <br>

	  <%= submit_tag("Submit Your Journal Entry") %>
	<% end %>

	<br>
	<br>
</h4>
Need to have new buttons for TABA recommendations based on mood
<br>
After submission, need to show a button for mood
</h3>

