<%= link_to("Home", root_path) %>
<h3>Hello <%= current_user.name %> </h3>
<h4> <%= link_to("add", new_journal_entry_path) %> a journal entry </h4>
<h4> <%= link_to("list", journal_entries_path) %> a journal entry </h4>
<p>Your journal entry for <%= %> is below</p>

