<!-- <form>
	<% @parrots = %w(white blue red green yellow) %>
	<% @parrots.each_with_index do |parrot, index| %>
		<input type="text" value="<%= parrot %>" name="bird_<%= index %>">
	<% end %>
	<input type="submit" value="click">
</form> -->
<%= render '/heading' %>

<h3>Hello <%= current_user.name %> </h3>

<h4>This is your phrases and value outcomes page.</h4>

<p>
	The Global Mood Value for your journal entry is
</p>
<p>
	<%= @average %>
</p>

<table class="center" border=1 cellpadding=5>
	<caption><b>Phrases and Moods Results</b> </caption>
	<thead>
		<tr>
			<th>Phrase</th>
			<th>Important Words</th>
			<th>Mood Value</th>
		</tr>
	</thead>
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
	<tbody>
		<% @sample_phrases.each_with_index do |sample_phrase, index| %>

			<tr>
				<td>
					<%= sample_phrase %>
				</td>
				<td>
					<%= @outcome[0][index].join(", ") %>

				</td>
				<td>
					<%= @outcome[1][index] %>

				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<!-- <%= link_to('Submit to Predictions', user_journal_entry_sample_phrases_path(current_user, @journal_entry.id)) %> -->

<h3> <%= link_to('Word Cloud', new_user_journal_entry_path) %> </h3>
