<!-- <form>
	<% @parrots = %w(white blue red green yellow) %>
	<% @parrots.each_with_index do |parrot, index| %>
		<input type="text" value="<%= parrot %>" name="bird_<%= index %>">
	<% end %>
	<input type="submit" value="click">
</form> -->
<%= render '/heading' %>

<h3>Hello <%= current_user.name %> </h3>

<h4>This is your mood and sample phrase submission page.</h4>
<p>Just assign a mood to each sample phrase taken from your journal, click "Submit" at the bottom and the app will do the rest.</p>

<table border=1 cellpadding=5>
	<caption><b>Mood and Sample Phrase Table</b> </caption>
	<thead>
		<tr>
			<th>Mood</th>
			<th>Sample Phrase</th>
		</tr>
	</thead>
<form action="/to_csv" method="POST">
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
	<tbody>
		<% @sample_phrases.each_with_index do |sample_phrase, index| %>

				<tr>		
					<td>
						<select name="<%= sample_phrase %>">
							<% @moods.each do |mood| %>
								<option value="<%= mood.id %>"><%= mood.name %></option>
							<% end %>
						</select>
					</td>
					<td>
						<%= sample_phrase %>
					</td>
				</tr>
		<% end %>
			<input type="submit" value="create">

	</tbody>
</form>
</table>

<%= link_to('Submit to Predictions', user_journal_entry_sample_phrases_path(current_user, @journal_entry.id)) %>

<!-- <h4> <button type='button'><a href='https://www.googleapis.com/prediction/v1.6/projects/414649711441/hostedmodels/sample.sentiment/predict'>Submit</a></button> to the Predictions Engine.  </h4>
 -->
<h3> <%= link_to('Add', new_user_journal_entry_path) %> another journal entry </h3>

<!-- <%# button_to('Submit to Predictions 12', @google_prediction) %>
 -->



