<div class='main'>

	<%= render "/heading" %>

	<% if logged_in? %>

		<h3>Hello <%= current_user.name %> </h3>
		<h3>Can't wait to hear about your adventure today!</h3>
	<% if current_user.admin %>
		<p>
			<a href="">Admin</a> functions.
		</p>

	<% end %>
	<%= link_to 'Home', root_path %>

		<ul>

			<p><a href="/users/<%= current_user.id %>/journal_entries/new">Write </a> a Journal Entry</p>

			<p><a href="/users/<%= current_user.id %>/journal_entries">View </a> Your Journal Entries</p>

			<h4>Mood Options</h4>
			<ul>
			<p><a href="/moods">View</a> Available Moods</p>


			<p>Add Moods to Your Mood List</p>

			<p>View your Mood History</p>
			</ul>
		</ul>

			<a href=<%= oauth %>>GENERATE OAUTH</a>	
	
		<p>
      <%= link_to('Logout_user'.titleize, logout_path) %>
		</p>

	<% end %>
</div>