<div class='main'>

	<%= render "/heading" %>

	<% if logged_in? %>

		<h2>Hello <%= current_user.name %> </h3>
		<h3>Can't wait to moodify your adventure today!</h3>
	<% if current_user.admin %>
		<p>
			<a href="">Admin</a> functions.
		</p>

	<% end %>
	<%= link_to 'Home', root_path %>

		<ul>

			<p><a href="/users/<%= current_user.id %>/journal_entries/new">Write</a> a journal entry</p>

			<p><a href="/users/<%= current_user.id %>/journal_entries">View</a> your journal entries</p>

		</ul>

		<p>
      <%= link_to('Logout'.titleize, logout_path) %>
		</p>

	<% end %>
</div>
